<br>
<div class="container">
    <div class="row text-center">

        <div class="col">
            <div class="card" style="width: 20rem;">
                <img src="assets/img/imperialofficer.jpg" class="card-img-top" alt="ImperialOfficer">
                <div class="card-body">
                    <h5 class="card-title" style="color:red">Imperial Officer</h5>
                    <p class="card-text" style="text-align: justify;">Officers were high-class soldiers who held various
                        positions of responsibility,
                        authority, and duty within the various branches of Galactic Empire's military.</p>
                </div>
                <div class="card-body">
                    <a href="https://starwars.fandom.com/wiki/Imperial_officer" class="card-link" style="color:red">More
                        details</a>
                    <a routerLink="/officer" routerLinkActive="active" class="card-link " style="color:red">Enlist now</a>
                </div>
            </div>
        </div>

        <div class="col">
            <img src="assets/img/imperiallogo.jpg" class="rounded" width="375" style="opacity: 0.1;">


            <h2 class="text-monospace text-center" style="color: red;">BECOME A IMPERIAL</h2>
            <h2 class="text-monospace text-center" style="color: red;">ENLIST AS:</h2>
        </div>
        <div class="col">

            <div class="card" style="width: 20rem;">
                <img src="assets/img/stormtrooper.jpg" class="card-img-top" alt="Stormtrooper">
                <div class="card-body">
                    <h5 class="card-title" style="color:red">Stormtrooper</h5>
                    <p class="card-text" style="text-align: justify;">As members of the Stormtrooper Corps they served
                        as frontline assault forces and formed the backbone of the
                        Imperial Military.</p>
                </div>
                <div class="card-body">
                    <a href="https://starwars.fandom.com/wiki/Stormtrooper" class="card-link" style="color:red">More
                        details</a>
                    <a routerLink="/stormtrooper" routerLinkActive="active" class="card-link" style="color:red">Enlist now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>