<br>
<div class="container">
    <div class="row text-center">

        <div class="col">
            <div class="card" style="width: 20rem;">
                <img src="assets/img/imperialofficer.jpg" class="card-img-top" alt="ImperialOfficer">
                <div class="card-body">
                    <h5 class="card-title" style="color:red">Imperial Officer</h5>
                    <p class="card-text">Officers were high-class soldiers who held various positions of responsibility,
                        authority, and duty within the various branches of Galactic Empire's military.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link" style="color:red">More details</a>
                    <a href="#" class="card-link" style="color:red">Enlist now</a>
                </div>
            </div>
        </div>

        <div class="col">
            <img src="assets/img/imperiallogo.jpg" class="rounded" width="375" style="opacity: 0.1;">


            <h2 class="text-monospace text-center" style="color: red;">BECOME A IMPERIAL</h2>
            <h2 class="text-monospace text-center" style="color: red;">ENLIST AS:</h2>
        </div>
        <div class="col">

            <div class="card" style="width: 20rem;">
                <img src="assets/img/stormtrooper.jpg" class="card-img-top" alt="Stormtrooper">
                <div class="card-body">
                    <h5 class="card-title" style="color:red">Stormtrooper</h5>
                    <p class="card-text">As members of the Stormtrooper Corps, an independent branch that operated under
                        the Imperial Army, they served as frontline assault forces and formed the backbone of the
                        Imperial Military.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link" style="color:red">More details</a>
                    <a href="#" class="card-link" style="color:red">Enlist now</a>
                </div>
            </div>
        </div>
    </div>
</div>